<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.chantier.chantiertn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_c"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_c"
        android:supportsRtl="true"
        android:theme="@style/ChantierTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".activities.SplashScreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.classes.WelcomeScreen"
            android:theme="@style/WelcomeScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ConnexionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.InscriptionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.CategoriesActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity
            android:name=".activities.ReinitializationPasswordActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.chantier.tn"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailsActivity"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity android:name=".activities.PackActivity" />
        <activity
            android:name=".activities.ChatActivity"
            android:resizeableActivity="false"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        </service>

        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.EditPasswordActivity" />
        <activity
            android:name=".activities.ContactDetailsActivity"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        >
        <activity android:name=".activities.AdsActivity"></activity>
    </application>

</manifest>